.with-border {
    border: 1px solid #7d7d7d;
}

.with-padding {
    padding: 1%;
}

header {
    grid-area: header;
}

.index {
    grid-area: index;
    border-top: 0;
    border-bottom: 0;
}

.main-content {
    grid-area: main;
    background-color: #f9f9f9;
    border-right: 1px solid #7d7d7d;
}

footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
            "header header"
            "index main"
            "footer footer";
}

@media (max-width: 600px) {
    .index {
        border-bottom: 1px solid #7d7d7d;
    }

    .main-content {
        grid-area: main;
        background-color: #f9f9f9;
        border-left: 1px solid #7d7d7d;
        border-right: 1px solid #7d7d7d;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
                "header"
                "index"
                "main"
                "footer";
    }
}