.with-border {
    border: 1px solid #7d7d7d;
}

.with-padding {
    padding: 1%;
}

header {
    grid-area: header;
}

.index {
    grid-area: index;
    border-top: 0;
}

.main-content {
    grid-area: main;
    background-color: #f9f9f9;
    border: 1px solid #7d7d7d;
    border-bottom: 0;
    border-top: 0;
}

footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "header"
            "index"
            "main"
            "footer";
}